<!--<div class=" flex-col space-y-3">-->
<!--  <mat-card class="shadow-md">-->
<!--    <mat-accordion>-->
<!--      <mat-expansion-panel>-->
<!--        <mat-expansion-panel-header style="padding: 7px">-->
<!--          Personal Information-->
<!--        </mat-expansion-panel-header>-->

<!--        <div class="mt-2 flex-col space-y-2">-->
<!--          <div class="grid grid-cols-4 gap-2">-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </mat-expansion-panel>-->
<!--    </mat-accordion>-->
<!--  </mat-card>-->

<!--  <mat-card class="shadow-md">-->
<!--    <mat-accordion>-->
<!--      <mat-expansion-panel>-->
<!--        <mat-expansion-panel-header style="padding: 7px">-->
<!--          Contact Information-->
<!--        </mat-expansion-panel-header>-->

<!--        <div class="mt-2 flex-col space-y-2">-->
<!--          <div class="grid grid-cols-4 gap-2">-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </mat-expansion-panel>-->
<!--    </mat-accordion>-->
<!--  </mat-card>-->

<!--  <mat-card class="shadow-md">-->
<!--    <mat-accordion>-->
<!--      <mat-expansion-panel>-->
<!--        <mat-expansion-panel-header style="padding: 7px">-->
<!--          Address-->
<!--        </mat-expansion-panel-header>-->

<!--        <div class="mt-2 flex-col space-y-2">-->
<!--          <div class="grid grid-cols-4 gap-2">-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="w-full max-w-sm">-->
<!--              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email Address</label>-->
<!--              <input-->
<!--                placeholder="Enter your email"-->
<!--                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"-->
<!--              />-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </mat-expansion-panel>-->
<!--    </mat-accordion>-->
<!--  </mat-card>-->
<!--</div>-->

