<div class="w-full">
  <div class="flex justify-center">
    <div class="flex justify-center items-center gap-2 bg-[#54B689] text-white py-2 px-3 rounded-md text-base font-medium">
      <mat-icon>print</mat-icon>
      <div>Print Resume</div>
    </div>
  </div>

  <!--resume body-->
  <div class="shadow-xl ">
    <div class="m-12">
      <div class="flex justify-between">
        <div>
          <div class="text-3xl text-[#54B689] font-extrabold tracking-widest">MAHFUZUR RAHMAN</div>
          <div class="mt-1 tracking-wider text-[#4f4f4f] text-lg opacity-80">Senior Software Engineer</div>
        </div>
        <div class="text-xs text-[#4f4f4f] opacity-80 space-y-3">
          <div class="flex justify-between items-center gap-2 cursor-pointer hover:text-[#54B689]">
            <img class="h-4 w-4" src="./assets/icons/linkedin-black.svg">
            <a href="https://www.linkedin.com/in/mr-swe/" target="_blank">linkedin.com/in/mr-swe</a>
          </div>

          <div class="flex justify-between items-center gap-2 cursor-pointer hover:text-[#54B689]">
            <img class="h-4 w-4" src="./assets/icons/github.svg">
            <a href="https://www.linkedin.com/in/mr-swe/" target="_blank">linkedin.com/in/mr-swe</a>
          </div>

          <div class="flex justify-between items-center gap-2 cursor-pointer hover:text-[#54B689]">
            <img class="h-4 w-4" src="./assets/icons/location.svg">
            <a target="_blank">Dhaka, Bangladesh</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
