<div class="w-full">
  <div class="flex justify-center">
    <div
      class="flex justify-center items-center gap-2 bg-[#54B689] text-white py-2 px-3 rounded-md text-base font-medium cursor-pointer hover:bg-[#357F5A]">
      <mat-icon>print</mat-icon>
      <div>Print Resume</div>
    </div>
  </div>

  <!--resume body-->
  <div class="shadow-2xl pb-1">
    <div class="ml-12 mr-4 my-10 text-[#4f4f4f]">
      <div class="flex justify-between items-center">
        <div>
          <div class="text-3xl text-[#54B689] font-extrabold tracking-widest">MAHFUZUR RAHMAN</div>
          <div class="mt-1 tracking-wider text-lg opacity-80">Senior Software Engineer</div>
        </div>
        <div class="text-xs opacity-80 space-y-3 shadow-2xl p-2">
          <div class="flex justify-start items-center gap-2 cursor-pointer hover:text-[#54B689]">
            <img class="h-4 w-4" src="./assets/icons/linkedin-black.svg">
            <a href="https://www.linkedin.com/in/mr-swe/" target="_blank">linkedin.com/in/mr-swe</a>
          </div>

          <div class="flex justify-start items-center gap-2 cursor-pointer hover:text-[#54B689]">
            <img class="h-4 w-4" src="./assets/icons/github.svg">
            <a href="https://github.com/mahfuzur-rahman-swe" target="_blank">github.com/mahfuzur-rahman-swe</a>
          </div>

          <div class="flex justify-start items-center gap-2 cursor-pointer hover:text-[#54B689]">
            <img class="h-4 w-4" src="./assets/icons/location.svg">
            <a>Dhaka, Bangladesh</a>
          </div>
        </div>
      </div>

      <!--profile overview-->
      <div class="mt-8">
        <h4>Full-Stack Software Engineer | Angular | Spring Boot | Microservices</h4>
        <p>
          Experienced Full-Stack Developer with a strong background in Java, C#, TypeScript, and SQL databases.
          Proficient in Spring Boot, Angular, ASP.NET, and microservices architecture, with expertise in REST APIs,
          OAuth2, JWT, and Git. Successfully contributed to government, healthcare, banking and insurance solutions,
          including the Bangladesh Planning Ministry’s ERP system and a hospital management platform. Skilled in
          optimizing performance, implementing scalable solutions and ensuring seamless system integrations. Passionate
          about code quality, problem-solving and delivering impactful software solutions.
        </p>
      </div>

      <!--body-->
      <div class="w-full mt-8">
        <div class="flex justify-between gap-6">
          <div class="w-[75%]">
            <!--experience start-->
            <div class="flex justify-start items-center gap-2 mb-3">
              <div class="bg-[#54B689] w-1 h-6"></div>
              <div class="tracking-widest text-lg text-[#54B689] font-medium">WORK EXPERIENCE</div>
            </div>
            <div class="w-full flex justify-between items-center">
              <div>
                <div class="font-semibold">Senior Software Engineer</div>
                <div class="text-xs">Leads Corporation Ltd, LEADS Tower, Mirpur-14, Dhaka, Bangladesh</div>
              </div>
              <div class="text-xs">January 2025 - Present</div>
            </div>
            <ul class="list-disc pl-8 mt-1 text-[14px]">
              <li>Implementing change requests from clients by analyzing requirements, updating functionalities, and
                maintaining
                code quality.
              </li>
              <li>Providing ongoing support for Core Banking Solutions, ensuring optimal performance and quick issue
                resolution.
              </li>
            </ul>

            <div class="mt-2 w-full flex justify-between items-center">
              <div>
                <div class="font-semibold">Software Engineer</div>
                <div class="text-xs">Nirupon Limited, House 47, Niketon, Dhaka, Bangladesh</div>
              </div>
              <div class="text-xs">August 2023 - January 2025</div>
            </div>
            <ul class="list-disc pl-8 mt-1 text-[14px]">
              <li>Designed and developed scalable hospital management software with microservices architecture.</li>
              <li>Enhanced patient care, inventory management and LIS reporting with seamless module integrations.</li>
              <li>Implemented new features, enhancing user experience and functionality.</li>
            </ul>

            <div class="mt-2 w-full flex justify-between items-center">
              <div>
                <div class="font-semibold">Software Engineer (Assistant Manager)</div>
                <div class="text-xs">Green Delta Insurance, AIMS Tower, Mohakhali, Dhaka, Bangladesh</div>
              </div>
              <div class="text-xs">March 2023 - August 2023</div>
            </div>
            <ul class="list-disc pl-8 mt-1 text-[14px]">
              <li>Developed backend components for Spring Boot applications.</li>
              <li>Provided ongoing support for live applications</li>
              <li>Collaborated with cross-functional teams to implement new features and optimize existing
                functionalities.
              </li>
            </ul>

            <div class="mt-2 w-full flex justify-between items-center">
              <div>
                <div class="font-semibold">Junior Programmer</div>
                <div class="text-xs">IBCS-Primax Software Bangladesh Ltd, House 51, Dhanmondi, Dhaka, Bangladesh</div>
              </div>
              <div class="text-xs">October 2021 - February 2023</div>
            </div>
            <ul class="list-disc pl-8 mt-1 text-[14px]">
              <li>Developed Microservice based Spring Boot Applications for Ministry of Planning, Bangladesh.</li>
              <li>Gained hands-on experience in software design and implementation.</li>
              <li>Collaborated with a big team and coordinated with business developers to complete tasks efficiently.
              </li>
            </ul>

            <!--projects start-->
            <div class="flex justify-start items-center gap-2 mt-3 mb-3">
              <div class="bg-[#54B689] w-1 h-6"></div>
              <div class="tracking-widest text-lg text-[#54B689] font-medium">PROJECTS</div>
            </div>
            <div class="font-semibold">Strengthening Digital Processing of Projects (SDPP)</div>
            <div class="text-[14px] mt-1">
              ERP-based solution for the Bangladesh Ministry of
              Planning to digitize project workflows. Automated processes like project approvals, monitoring, and
              reporting, improving operational efficiency and transparency.
            </div>
            <ul class="list-disc pl-8 text-[14px] mt-[2px]">
              <li><span class="font-medium">Technology Used:</span> Java, Spring Boot, Microservice, REST API, Angular,
                PostgreSQL, Tailwind CSS
              </li>
            </ul>

            <div class="font-semibold mt-2">Hospital Management</div>
            <div class="text-[14px] mt-1">
              ERP-based solution for the Bangladesh Ministry of Planning to digitize project workflows. Automated
              processes like project approvals, monitoring, and reporting, improving operational efficiency and
              transparency.
            </div>
            <ul class="list-disc pl-8 text-[14px] mt-[2px]">
              <li><span class="font-medium">Technology Used:</span> Java, Spring Boot, Microservice, REST API, Angular,
                PostgreSQL, Tailwind CSS
              </li>
            </ul>
          </div>

          <!--skills-->
          <div class="w-[25%]">
            <div class="shadow-2xl px-2 pb-2">
              <div class="flex justify-start items-center gap-2">
                <div class="bg-[#54B689] w-1 h-6"></div>
                <div class="tracking-widest text-lg text-[#54B689] font-medium">SKILLS</div>
              </div>
              <div class="mt-2">
                <div class="font-semibold">Technical</div>
                <div class="w-full text-[12px] mt-2 flex-col space-y-1">
                  <div><span class="font-medium">Programming Languages: </span>Java, C#, TypeScript, JavaScript</div>
                  <div><span class="font-medium">Frameworks: </span>Spring Boot, ASP.NET, Django(MVT), Angular, Tailwind CSS, Bootstrap</div>
                  <div><span class="font-medium">Database: </span>JPA, Hibernate, Oracle, PostgreSQL, Microsoft SQL Serve</div>
                  <div><span class="font-medium">Others: </span>Microservice, SOAP, REST API, OAuth2, JWT, Git</div>
                </div>
              </div>

              <div class="flex justify-start items-center gap-2 mt-3">
                <div class="bg-[#54B689] w-1 h-6"></div>
                <div class="tracking-widest text-lg text-[#54B689] font-medium">EDUCATION</div>
              </div>
              <div class="mt-2">
                <div class="w-full text-[12px] mt-2 flex-col space-y-1">
                  <div>
                    <div class="font-medium">Daffodil International University</div>
                    <div>B. Sc. in Software Engineering</div>
                    <div>3.36 out of 4.00 - 2021</div>
                  </div>
                  <div>
                    <div class="font-medium">Government K.C. College</div>
                    <div>Higher Secondary Certificate</div>
                    <div>4.25 out of 5.00 - 2015</div>
                  </div>
                  <div>
                    <div class="font-medium">Joradah High School</div>
                    <div>Secondary School Certificate</div>
                    <div>5.00 out of 5.00 - 2013</div>
                  </div>
                </div>
              </div>

              <div class="flex justify-start items-center gap-2 mt-3">
                <div class="bg-[#54B689] w-1 h-6"></div>
                <div class="tracking-widest text-lg text-[#54B689] font-medium">CERTIFICATES</div>
              </div>
              <div class="mt-2">
                <div class="w-full text-[12px] mt-2 flex-col space-y-1">
                  <div>
                    <div class="font-medium">Intermediate PostgreSQL - Coursera</div>
                    <div>October 4, 2022</div>
                  </div>
                  <div>
                    <div class="font-medium">Database Design and Basic SQL in PostgreSQL - Coursera</div>
                    <div>August 18, 2022</div>
                  </div>
                </div>
              </div>

              <div class="flex justify-start items-center gap-2 mt-3">
                <div class="bg-[#54B689] w-1 h-6"></div>
                <div class="tracking-widest text-lg text-[#54B689] font-medium">INTERESTS</div>
              </div>
              <div class="mt-2">
                <div class="w-full text-[12px] mt-2 flex-col space-y-1">
                  <div>Cricket</div>
                  <div>Movie</div>
                  <div>Traveling</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
